* { 
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
 }

 body {
   background-color: #4b4b4b;
   padding: 4px;
 }

 .home {
  background-color: #c28988
 }

 .scripty{
  font-family: 'Rock Salt', cursive;

 }

 .custom{
  height: 80vh;
 }

 .boom{
  height: 10rem;
  /* object-fit: contain; */
 }