* { 
  box-sizing: border-box;
  color: #111111
}

body {
  padding: 4px;
  /* background-image: linear-gradient(-90deg, #236D8B, #916E8E); */
  /* background-image: linear-gradient(-90deg, #1E5D76, #BBA5B9); */
  /* background-image: linear-gradient(-90deg, #A48E0E, #DBCAA3); */
  background-image: linear-gradient(-90deg, #D09FBE, #CED09F);
  
}


.custom{
  height: 80vh;
}

.boom{
  height: 10rem;
  /* object-fit: contain; */
}

.hrule{
  border: 1px solid #4b4b4b;
}