* { 
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
 }

 body {
   padding: 4px;
   /* background-color: #005867; */
    /* background-color:#FFDFDF;  */
    background-color: #e08581;
 }

 .home {
  
   /* :  */
 }

 .scripty{
  font-family: 'Rock Salt', cursive;

 }

 .custom{
  height: 80vh;
 }

 .boom{
  height: 10rem;
  /* object-fit: contain; */
 }

 .hrule{
   border: 1px solid #4b4b4b;
 }